<p>tab-common works!</p>

<app-tab-group>
    <app-tab-panel title="First tab">
        <ng-template tabPanelContent>
            First tab content
            <app-counter></app-counter>
        </ng-template>
    </app-tab-panel>
    <app-tab-panel title="Second tab">
        <ng-template tabPanelContent>
            Second tab content
            <app-counter></app-counter>
        </ng-template>
    </app-tab-panel>
    <app-tab-panel title="Third tab">
        <ng-template tabPanelContent>
            Third tab content
            <app-counter></app-counter>
        </ng-template>
    </app-tab-panel>
    <app-tab-panel title="Fourth tab">
        <ng-template tabPanelContent>
            Fourth tab content
            <app-counter></app-counter>
        </ng-template>
    </app-tab-panel>
</app-tab-group>