<p>author-list works!</p>
<app-author-detail
  *ngFor="let author of authors"
  [author]="author"
  (deleteAuthor)="handleDelete($event)"
></app-author-detail>

<app-toggle [(checked)]="questions.question1">
  <h3 class="toogle-header">Header 1</h3>
  <label>Question 5</label>
  <span>Some paragraph</span>
</app-toggle>


<app-toggle [(checked)]="checked"></app-toggle>

<!-- case : ng-content -->
<app-toggle [(checked)]="questions.question1">
  <span>Question 1</span>
</app-toggle>


<app-toggle [(checked)]="questions.question2">
  <span>Question 2</span>
</app-toggle>


