<p>tab-group works!</p>

<div class="tab-headers">
    <div class="tab-header-item" *ngFor="let tab of tabPanelList; index as idx" [class.active]="idx === tabActiveIndex"
        (click)="selectItem(idx)">
        {{ tab.title }}
        <button (click)="removeTabPanel(tab)">x</button>
    </div>
</div>

<div class="tab-body" *ngIf="tabPanelList.length;else noTabs">
    <ng-container *ngTemplateOutlet="tabPanelList[tabActiveIndex].panelBody"></ng-container>
</div>

<ng-template #noTabs>
    No more tabs.
</ng-template>